{% extends "layout.html" %}

{% block title %}{{ content.meta.site_title or "Para ti" }}{% endblock %}
{% block description %}{{ content.meta.site_description or '' }}{% endblock %}

{% block content %}
  {% include "components/hero.html" %}
  {% include "components/letter.html" %}
  {% include "components/playlist.html" %}
  {% include "components/notes.html" %}
  {% include "components/likes.html" %}
  {% include "components/bucketlist.html" %}
  {% include "components/memories.html" %}
  {% include "components/photos.html" %}
  {% include "components/question-game.html" %}
{% endblock %}
